@font-face {
  font-family: 'K24KurdishLight-Light';
  src: url( 'K24KurdishLight-Light.woff') format('woff2');
}

 

body {
    margin: 0px;
    font-family: 'K24KurdishLight-Light';
	 
}

header h1 {
	font-family: 'K24KurdishLight-Light';
    text-align: right;
    font-size: 30px;
    color: white;
	margin-right: 8px;
	margin-top: 12px;
	text-decoration: none;
}

header {
    padding: 5px;
    background-color: rgb(17, 124, 143);
	text-decoration: none;
}
 
img {
	width: 100px;
	float: left;
	margin-left: 8px;
	margin-top: 2px;
}

nav {
    background-color: #333;
	text-align: center;
	padding: 10px;
     
}

nav a {
    text-decoration: none;
    text-align: center;
    color: white;
	padding: 12px;
	line-height: 2;
	font-size: 20px;
	font-family: 'K24KurdishLight-Light';
}

.footer {
    background-color: #333;
	text-align: center;
	padding: 5px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 14px;
	 
	
 }
.footer a{
	text-decoration: none;
	color: white;   
	font-family: 'K24KurdishLight-Light';
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin-left: 30%;
  margin-top: 40px;

 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   text-decoration: none;
}

.container {
  padding: 2px 16px;
  text-decoration: none;
}
.card a {
  color: red;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
 
}
 
.txt{
	margin-top: 20px;
	 text-align: center;
	 font-size: 30px;
	 color: red;
}

.txt1{
	text-align: center;
	 font-size: 20px;
	 color: blue;
	
}
.txt2{
	text-align: center;
	 font-size: 16px;
	 color: black;
	 margin: 12px;
	 line-height: 1.6;
	 margin-top: 230px;
         font-family: 'K24KurdishLight-Light';

	
}
.txt3{
	text-align: center;
	 font-size: 14px;
	 color: darkred;
         font-family: 'K24KurdishLight-Light';

 
}
.iba img{
	border-radius: 12px;
	margin-left: 25%;
	height: 230px;
	width: 200px;
	 
	
	
}


ul {
  position:absolute;
  margin-top: 40px;
  left:50%;
  transform: translate(-55%, -50%);
  display:flex;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width:30px;
  height:30px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .fab {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(30px - 12px);
  font-size:18px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}
